# Enable the RewriteEngine
RewriteEngine On

# Set the base directory for rewrites
RewriteBase /symfony/

# Redirect direct access to /public/* to the corresponding resource without 'public/' in the URL
RewriteCond %{REQUEST_URI} ^/symfony/public/ [NC]
RewriteRule ^public/(.*)$ /symfony/$1 [L,NE,R=302]

# Route all other requests to the Symfony front controller
RewriteCond %{REQUEST_URI} !^/symfony/public/ [NC]
RewriteRule ^(.*)$ /symfony/public/$1 [L]